@if(apiService.areCredentialsSet()) {
  <div class="search-input">
    <label>
      Search by First Name:
      <input type="text" placeholder="Janez" (input)="search()" [(ngModel)]="nameQuery">
    </label>
    <label>
      Search by Last Name:
      <input type="text" placeholder="Novak" (input)="search()" [(ngModel)]="surnameQuery">
    </label>
  </div>

  @if(!userFormActive) {
    <div class="button-container">
      <button (click)="this.userFormActive = true">Add new user</button>
    </div>
  }

  @if(userFormActive) {
    <div class="add-user-container">
      <form [formGroup]="userForm" (ngSubmit)="addUserHandler()">
        <label>
          First name:
          <input type="text" placeholder="Janez" formControlName="name" />
        </label>
        <label>
          Last name:
          <input type="text" placeholder="Novak" formControlName="surname" />
        </label>
        <label>
          Birth date:
          <input type="date" formControlName="birthday" />
        </label>
        <label>
          Email:
          <input type="email" placeholder="janez.novak@email.com" formControlName="email" />
        </label>
        <div class="button-container">
          <button (click)="userFormActive = false; userFeedbackMessage = '';">Cancel</button>
          <button type="submit">Add</button>
        </div>
        @if(userFeedbackMessage) {
          <p>
            {{ userFeedbackMessage }}
          </p>
        }
      </form>
    </div>
  }

  @if(fetchingUsers) {
    <div class="info-container">
      <p>
        Fetching users...
      </p>
    </div>
  }

  @if(filteredUsers.length > 0) {
    <div class="data-container">
      <table>
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Birth date</th>
          <th>Email</th>
          <th>
            <div class="button-container" (click)="refreshUsers()">
              <img src="assets/refresh.svg" alt="Refresh">
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
          @for(user of filteredUsers; track user.Id) {
            <tr>
              <td>{{ user.FirstName }}</td>
              <td>{{ user.LastName }}</td>
              <td>{{ user.BirthDate | date: 'dd/MM/yyyy' }}</td>
              <td>{{ user.Email }}</td>
              <td>
                <a (click)="user.absenceFormActive = !user.absenceFormActive; absenceFeedbackMessage='';">✚</a>
              </td>
            </tr>
            @if(user.absenceFormActive && !fetchingAbsencesDefinitions) {
              <tr>
                <td colspan="99">
                  <form [formGroup]="absenceForm" (ngSubmit)="addAbsenceHandler(user)">
                    <div class="input-container">
                      <label>
                        Select type of absence
                        <select formControlName="absenceId">
                          @for(absDef of absenceDefinitions; track absenceDefinitions.Id) {
                            <option [value]="absDef.Id">
                              {{ absDef.Name }}
                            </option>
                          }
                        </select>
                      </label>
                      <label>
                        Select absence start
                        <input type="date" formControlName="startDate" />
                      </label>
                      <label>
                        Select absence end
                        <input type="date" formControlName="endDate" />
                      </label>
                    </div>
                    <div class="button-and-feedback-container">
                      <button type="submit">
                        Add absence
                      </button>
                      @if(user.absenceFeedbackMessage) {
                        <div class="info-container">
                          {{ user.absenceFeedbackMessage }}
                        </div>
                      }
                    </div>
                  </form>
                </td>
              </tr>
            }
          }
      </table>
    </div>
  }

  @if(users.length == 0 && !fetchingUsers) {
    <div class="info-container">
      <p>
        No users found.
      </p>
    </div>
  }

  @if(users.length > 0 && filteredUsers.length == 0) {
    <div class="info-container">
      <p>
        No users match search criteria.
      </p>
    </div>
  }
}

@if(!apiService.areCredentialsSet()) {
  <div class="info-container">
    <p>
      Credentials must be set in order to see the list of users.
    </p>
  </div>
  <div class="button-container">
    <button routerLink="/settings" routerLinkActive="active">Set credentials</button>
  </div>
  <router-outlet />
}



