.search-input {
  margin: 40px;
  display: flex;
  justify-content: center;
  input {
    padding: 10px;
    margin: 5px;
    outline: none;
  }
}

.users-container {
  margin: 40px;
  display: flex;
  justify-content: center;

  table {
    border-collapse: collapse;
    thead {
      tr {
        border-bottom: 1px solid black;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid lightgray;
        td {
          padding: 0 10px;
        }
      }
    }
  }
}
