.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;

  .container {
    div, button {
      margin: 10px;

      input {
        width: 100%;
      }
    }

    .buttonFeedback {
      color: green;
    }
  }
}
